.header {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}


.container {
  display: flex;
  flex-direction: column;
  padding: 26px;
  background-color: #e5f7ff;
  border-radius: 10px;
}

.codeForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}
