/* CodeTextArea.module.css */

.container {
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */

  /* If you want the container to inherit some styles of ResultsSection */
  border-radius: 12px; 
  background: linear-gradient(90deg, #6246ea 0%, #b620e0 100%); 
}

.container:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Darker shadow on hover */
}

.output {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  height: 100%; 
  color: #E5E5E5; /* Changed to a lighter grey for better contrast on darkblue background */
  background-color: darkblue;
  font-size: 15px;
  border: none;
  border-radius: 10px; /* Adjusted to match other UI elements */
  outline: none;  
  resize: none;  
  overflow-y: auto;  
  padding: 10px; 
  white-space: pre-wrap;
  word-wrap: break-word;
  box-sizing: border-box; /* Ensure padding doesn't cause width overflow */
}

.output:focus {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* A subtle white glow when focused */
}
