@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/* Navbar Styles */
.navbar {
  height: 8vh;
  width: 100%;
  background: linear-gradient(90deg, #6246ea 0%, #b620e0 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 10px; /* Increased shadow for more depth */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem; /* Added a bit of horizontal padding */
  margin:0
}

.logocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.logocontainer:hover {
  transform: translateY(-2px); /* Slight move on hover for interactive feel */
}

.logocontainer h1 {
  font-family: 'Poppins', sans-serif; /* Sleeker, modern font */
  font-size: 2rem;
  font-weight: 600;
  margin-left: 1rem;
  color: white; /* Adjusted for new background */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.logo {
  height: 4.05rem; /* Increased size slightly for prominence */
  width: 4.05rem;
  border-radius: 50%; /* Rounded edges for a smoother look */
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2); /* Subtle white glow */
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.logo:hover {
  transform: scale(1.05); 
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3); /* Increased white glow on hover */
}
